COMPOSE_PROFILES=itsm,rmm,admin,docs
COMPOSE_PROJECT_NAME=hi5central-dev
RELEASE_GATEWAY_CONTAINER_NAME=hi5central-dev-gateway
RELEASE_EDGE_NETWORK=hi5central
DEPLOYMENT_MODE=managed
RUNTIME_ENVIRONMENT=dev
FEATURE_MODE=all_enabled
TENANCY_MODE=single
ROOT_DOMAIN=hi5central.com
PRIMARY_TENANT_SLUG=dev
BACKGROUND_WORKERS_ENABLED=true

POSTGRES_DB=hi5central
POSTGRES_USER=hi5central
POSTGRES_PASSWORD=CHANGE_ME
REDIS_PASSWORD=CHANGE_ME

MFA_ENCRYPTION_KEY=64_HEX_CHARACTERS
RMM_RECOVERY_KEY_ENCRYPTION_KEY=64_HEX_CHARACTERS
CONNECT_CODE_HMAC_KEY=64_HEX_CHARACTERS
TURN_SHARED_SECRET=64_HEX_CHARACTERS
TURN_REALM=dev-turn.hi5central.com
TURN_EXTERNAL_IP=

APP_URL=https://dev.hi5central.com
PORTAL_URL=https://dev.hi5central.com/portal
RMM_URL=https://dev-rmm.hi5central.com
ADMIN_URL=https://dev-admin.hi5central.com
API_URL=https://dev-api.hi5central.com
DOWNLOADS_URL=https://dev-downloads.hi5central.com
HELP_URL=https://dev-help.hi5central.com
TURN_URL=turn:dev-turn.hi5central.com:3479
TURN_HOST=dev-turn.hi5central.com
MARKETING_URL=https://dev.hi5central.com
COOKIE_DOMAIN=

ITSM_ADDRESS=http://dev.hi5central.com
RMM_ADDRESS=http://dev-rmm.hi5central.com
ADMIN_ADDRESS=http://dev-admin.hi5central.com
API_ADDRESS=http://dev-api.hi5central.com
DOWNLOADS_ADDRESS=http://dev-downloads.hi5central.com
HELP_ADDRESS=http://dev-help.hi5central.com
ACME_EMAIL=admin@hi5central.com

GATEWAY_HTTP_PORT=127.0.0.1:18080
GATEWAY_HTTPS_PORT=127.0.0.1:18443
TURN_LISTEN_PORT=3479
TURN_RELAY_MIN_PORT=49260
TURN_RELAY_MAX_PORT=49300

CONTROL_SERVER_IMAGE=ghcr.io/dansut24/hi5central-control-server:dev
ITSM_IMAGE=ghcr.io/dansut24/hi5central-itsm:dev
RMM_IMAGE=ghcr.io/dansut24/hi5central-rmm:dev
ADMIN_IMAGE=ghcr.io/dansut24/hi5central-admin:dev
DOCS_IMAGE=ghcr.io/dansut24/hi5central-docs:dev

LICENSING_SERVER_URL=https://licensing.hi5central.com
LICENSING_PUBLIC_KEY_PEM=
LICENSING_PRIVATE_KEY_PEM=
RELEASE_OPERATOR_TOKEN=64_HEX_CHARACTERS
LICENSING_REFRESH_INTERVAL_MS=43200000
LICENSING_INITIAL_REFRESH_DELAY_MS=30000
